<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>viewMember</title>
</head>
<body>

	<table border="1">
		<tr>
			<td>번호</td>
			<td>아이디</td>
			<td>패쓰워드</td>
			<td>이름</td>
			<td>가입일</td>
			<td>홀수/짝수</td>
			<td>처음/끝</td>
		</tr>
		
		<tr th:each="member, iterState : ${members}">
			<td th:text="${iterState.count}"></td>
			<td th:text="${member.id}"></td>
			<td th:text="${member.pw}"></td>
			<td th:text="${member.name}"></td>
			<td th:text="${#dates.format(member.joindate, 'yyyy-MM-dd')}"></td>
			<td th:text="${iterState.odd + ' ' + iterState.even}"></td>
			<td th:text="${iterState.first + ' '  + iterState.last}"></td>
		</tr>
	
	</table>

</body>
</html>